<%= link_to new_essay_path do %>
  <div class="card bg-warning text-white">
    <div class="card-body text-center">
      <h2>Upload a new essay</h2>
      <h4 class="header-title">And get detailed feedback within 48 hours</h4>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <h4 class="header-title">Your current essays</h4>
      <p class="text-muted font-14">Recent uploads currently awaiting feedback from one of our markers:</p>
    <table class="table table-responsive table-striped table-centered mb-0">
        <thead class="table-dark">
            <tr>
              <th>Subject</th>
              <th>Essay Title</th>
              <th>Uploaded at</th>
              <th>Due before</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
          <% @essays.each do |essay| %>
            <% if !essay.returned %>
              <tr>
                <td><%= essay.subject %></td>
                <td><%= essay.title %></td>
                <td><%= essay.created_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
                <td><%= essay.add_48_hours(essay.created_at).strftime("%e %b %Y %H:%M:%S%p") %></td>
                <td><%= raw essay.status_label(essay.status) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4 class="header-title">Your returned essays</h4>
      <p class="text-muted font-14">Essays you have uploaded in the past:</p>
    <table class="table table-striped table-centered mb-0">
        <thead class="table-dark">
            <tr>
              <th>Subject</th>
              <th>Essay Title</th>
              <th>Uploaded on</th>
              <th>Returned on</th>
              <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <% @essays.each do |essay| %>
              <% if essay.returned %>
                <tr>
                  <td><%= essay.subject %></td>
                  <td><%= essay.title %></td>
                  <td><%= essay.created_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
                  <td>01/01/01</td>
                  <td><%= link_to "View", essay_path(essay), class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
