<div class="card">
  <div class="card-body">
    <h4 class="header-title">Upload your essay</h4>
    <p class="text-muted font-14">Enter the details of your essay below and upload your file as a .pdf or .doc. You can also include any additional documents, like marking rubrics or assessment notifications.</p>
      <%= simple_form_for [@essay] do |f| %>
        <div class="mb-3">
            <%= f.input :title, hint: "Give it a description so you'll recognise it", class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :subject, collection: ['English', 'Modern History', 'Ancient History'], class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :question, label: 'Essay question', as: :text, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :mark, label: 'To be marked out of', hint: "What would you like your marker to grade your essay out of (if not defined, it will be marked out of 20)", class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :notes, as: :text, hint: "Add any notes for your marker", class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :primarydoc, label: 'Your essay file', as: :file, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= f.input :secondarydoc, label: 'Any additional files', as: :file, class: "form-control" %>
        </div>
        <%= f.submit 'Go to payment', class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
